.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
}

//Action
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.action-message {
    margin-left: 9px;
    padding: 3px 0;
    cursor: pointer;
    background-color: transparent;
}

.action-inbox {
    position: relative;
    margin-left: 19px;
    background-color: transparent;
    cursor: pointer;
}


.action-notice {
    position: absolute;
    top: -7px;
    right: -10px;
    padding: 0 6px;
    height: 2rem;
    line-height: 2rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--font-family);
    min-width: 25px;
    border-radius: 10px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 24px;
    cursor: pointer;
}



